@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SiemaElo320!!! <br />Automated with GitHub Actions & Azure</h1>
    <p>To moja aplikacja webowa <a
</div>
